@media print {
    .ajs-success,.ajs-error,.ajs-message ,.no-print{display: none}
    .print{display: block}
    .print img{float: right !important;margin-top: 10px}
    .invoiceTable{width: 100% !important;}
    .blur{display:none;}
}

